@import 'mixins';

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {  	
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid #fff;
   
  }
  
}

#yelvy {
  .col1 {
    float:left;
    border: 1px solid  #fff;    
  }

  .col2 {
    float: left;
    border: 1px solid #000;
  }


}