@import 'mixins';

body{
     font-family: 'Open Sans',Helvetica,Arial,sans-serif!important;

}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper {
  width: 100%;
  background: url(/dist/asserts/images/pattern-diagnol-stripe-light.png);
    background-size: 12px 12px
}

#promoComponent {
  border:1px solid #efefef;
  margin: 0 auto; 
  width: 80%;

   .col1 {
      border-right: 1px solid #efefef;
      background: #f4f4f4;
      float: left;
      width: 30%;
   }
   .col2 {
      width: 60%;
      float: left;
   }


   .offer_menus {
      border: 1px solid #eeeeee;
   }
   .list_heading {
      font-size: 16px;
      text-align: center;
   }

   ul.list{
      list-style: none;
      width: 80%;
   }
     
   .list_option {
      font-size: 15px;
      border: solid 1px #d2d2d2;
      background: #fff;
      line-height: 42px;
      color: #868686;

      span {
        padding: 0 20px;
      }

    }






}


.clearfix:after {content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;} 
.clearfix {display:block;} 
html .clearfix {display:block;} 
* html .clearfix {height:1%;}

